<footer class="footer-fill" id="footer">

    <section class="footer-section footer">
        <div class="footer-wrap">
            <h2 class="footer-slogan"><span class="footer-accent">Chocolate </span>a delicious<br> cure for a
                bad
                day
            </h2>
            <div class="address-soc-list-wrap">
                <address class="footer-address">
                    <ul class="footer-address-list">
                        <li class="contacts-us"><a class="address-tel">Contacts us</a></li>

                        <li class="contacts-tel">
                            <a class="address-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>

                        </li>
                        <li class="contacts-addess">
                            <a class="address-tel" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </address>

                <div>
                    <ul class="soc-list">
                        <li class="soc-list-item"><a href="https://www.instagram.com/" class="soc-list-link"
                                target="_blank">
                                <svg class="icon-svg" width="22" height="22">
                                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-list-item"><a href="https://twitter.com/" class="soc-list-link" target="_blank">
                                <svg class="icon-svg" width="22" height="22">
                                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border"></div>

        <div class="footer-anchor">
            <ul class="footer-anchor-list">
                <li class="footer-anchor-items"><a class="footer-anchor-link" href="#section-home">Home</a></li>
                <li class="footer-anchor-items"><a class="footer-anchor-link" href="#how-its-Made">How
                        it’s
                        made?</a></li>
                <li class="footer-anchor-items"><a class="footer-anchor-link" href="#our-products">Our
                        products</a>
                </li>
                <li class="footer-anchor-items"><a class="footer-anchor-link" href="#top-sellers">Top
                        sellers</a>
                </li>
                <li class="footer-anchor-items"><a class="footer-anchor-link" href="#chocolate-is-loved">Chocolate
                        is
                        loved</a></li>
            </ul>
        </div>

    </section>

</footer>