<header id="section-home">
    <div class="header-container">
        <div class="container-link">
            <a href="./index.html" class="link-header"><span class="span-header">Simply</span> Chocolate</a>
            <svg class="svg-header">
                <use href="./img/symbol-defs.svg#icon-logo"></use>
            </svg>
        </div>
        <button class="header-button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <img srcset="./img/Iconmenu-header-btn.png 1x, ./img/Iconmenu-header-btn@2.png 2x"
                src="./img/Iconmenu-header-btn.png" alt="menu">
        </button>

        <nav class="da">
            <ul class="list-nav">
                <li class="item-header">
                    <a href="#section-home">Home</a>
                </li>
                <li class="item-header">
                    <a href="#how-its-Made">How it&#884;s made?</a>
                </li>
                <li class="item-header">
                    <a href="#our-products">Our products</a>
                </li>
                <li class="item-header">
                    <a href="#top-sellers">Top sellers</a>
                </li>
                <li class="item-header">
                    <a href="#chocolate-is-loved">Chocolate is loved</a>
                </li>
            </ul>
        </nav>

        <ul class="link-hdr">
            <li class="item-link">
                <svg class="svg-link-hdr">
                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="item-link">
                <svg class="svg-link-hdr">
                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </li>
        </ul>
    </div>

    <div class="container-menu js-menu-container" id="mobile-menu">
        <button class="btn-close-modal js-close-menu">
            <svg class="svg-modal">
                <use href="./img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

        <nav class="list-nav-modal">
            <ul>
                <li class="item-list-nav">
                    <a href="#section-home">Home</a>
                </li>
                <li class="item-list-nav">
                    <a href="#how-its-Made">How it&#884;s made?</a>
                </li>
                <li class="item-list-nav">
                    <a href="#our-products">Our products</a>
                </li>
                <li class="item-list-nav">
                    <a href="#top-sellers">Top sellers</a>
                </li>
                <li class="item-list-nav">
                    <a href="#chocolate-is-loved">Chocolate is loved</a>
                </li>
            </ul>
        </nav>

        <ul class="link-modal">
            <li class="item-mod-link">
                <svg class="svg-link">
                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="item-mod-link">
                <svg class="svg-link">
                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </li>
        </ul>
    </div>
</header>