<div class="how-oll" id="how-its-Made">
  <h2 class="how-h2">how it's <span class="how-made">made</span>?</h2>
  <div class="how-container">
    <iframe
      src="https://www.youtube.com/embed/rCRxaF7vssY?start=6&end=50&vq=hd1080&loop=1&rel=0&iv_load_policy=3&disablekb=1&playlist=rCRxaF7vssY"
      title="Showreel  Chocolate 2021"
      frameborder="0"
      allowfullscreen
      class="how-video"
    ></iframe>

    <div class="how-container-two">
      <div class="how-cont-p">
        <p class="how-p">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
      </div>
      <ul class="how-ul">
        <li class="how-li">
          <div class="how-li-svg">
            <svg class="rrr">
              <use href="./img/symbol-defs.svg#icon-Ellipse"></use>
            </svg>
          </div>
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="how-li">
          <div class="how-li-svg">
            <svg class="rrr">
              <use href="./img/symbol-defs.svg#icon-Ellipse"></use>
            </svg>
          </div>
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="how-li">
          <div class="how-li-svg">
            <svg class="rrr">
              <use href="./img/symbol-defs.svg#icon-Ellipse"></use>
            </svg>
          </div>
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="how-li">
          <div class="how-li-svg">
            <svg class="rrr">
              <use href="./img/symbol-defs.svg#icon-Ellipse"></use>
            </svg>
          </div>
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="how-li">
          <div class="how-li-svg">
            <svg class="rrr">
              <use href="./img/symbol-defs.svg#icon-Ellipse"></use>
            </svg>
          </div>
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</div>
