<section class="section-products">
  <div class="container-products">
    <h1 class="heading-products">
      OUR <span class="title-products">PRODUCTS</span>
    </h1>
    <ul class="image-slider swiper-container">
      <li class="image-slider__wrapper swiper-wrapper">
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate1.jpg"
              srcset="
                ../img/Image-chocolate1.jpg    1x,
                ../img/Image-chocolate1-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">ORANGE</h2>
            <p class="subtitle-products">Dark chocolate</p>
            <button type="button" class="button-products">45 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate2.jpg"
              srcset="
                ../img/Image-chocolate2.jpg    1x,
                ../img/Image-chocolate2-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">APPLE&CRANBERRY</h2>
            <p class="subtitle-products">Milk chocolate</p>
            <button type="button" class="button-products">50 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate3.jpg"
              srcset="
                ../img/Image-chocolate3.jpg    1x,
                ../img/Image-chocolate3-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">LIME&SEA SALT</h2>
            <p class="subtitle-products">Dark chocolate</p>
            <button type="button" class="button-products">66 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate4.jpg"
              srcset="
                ../img/Image-chocolate4.jpg    1x,
                ../img/Image-chocolate4-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">PINEAPPLE</h2>
            <p class="subtitle-products">Dark chocolate</p>
            <button type="button" class="button-products">54 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate5.jpg"
              srcset="
                ../img/Image-chocolate5.jpg    1x,
                ../img/Image-chocolate5-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">CLASSIC</h2>
            <p class="subtitle-products">Milk chocolate</p>
            <button type="button" class="button-products">45 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate6.jpg"
              srcset="
                ../img/Image-chocolate6.jpg    1x,
                ../img/Image-chocolate6-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">HONEY</h2>
            <p class="subtitle-products">Milk chocolate</p>
            <button type="button" class="button-products">50 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate7.jpg"
              srcset="
                ../img/Image-chocolate7.jpg    1x,
                ../img/Image-chocolate7-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">ROASTED FRUITS</h2>
            <p class="subtitle-products">Dark chocolate</p>
            <button type="button" class="button-products">66 UAH</button>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide">
          <div class="image-slider__image">
            <img
              class="img-products"
              src="../img/Image-chocolate8.jpg"
              srcset="
                ../img/Image-chocolate8.jpg    1x,
                ../img/Image-chocolate8-2x.jpg 2x
              "
              alt="photo chocolate"
              width="230"
              height="201"
            />
            <h2 class="caption-products">CLASSIC</h2>
            <p class="subtitle-products">White chocolate</p>
            <button type="button" class="button-products">54 UAH</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
