<section class="reviews" id="“chocolate-is-loved”">
  <div class="reviews-container container">
    <h2 class="reviews-title">
      <span class="first-title-part">chocolate</span> is loved
    </h2>
    <div class="reviews-swiper swiper">
      <div class="reviews-swiper-wrapper swiper-wrapper">
        <div class="reviews-swiper-slide swiper-slide">
          <div class="person-info">
            <img
              class="person-img"
              src="./img/person1.png"
              srcset="./img/person1.png 1x, ./img/person1-2x.png 2x"
              alt="person1"
              width="80"
              height="80"
            />
            <p class="person-full-name">Victoria Dobrzhanska</p>
          </div>
          <p class="person-review">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
        <div class="reviews-swiper-slide swiper-slide">
          <div class="person-info">
            <img
              class="person-img"
              src="./img/person2.png"
              srcset="./img/person2.png 1x, ./img/person2-2x.png 2x"
              alt="person2"
              width="80"
              height="80"
            />
            <p class="person-full-name">Nazar Babenko</p>
          </div>
          <p class="person-review">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <div class="reviews-swiper-slide swiper-slide">
          <div class="person-info">
            <img
              class="person-img"
              src="./img/person3.png"
              srcset="./img/person3.png 1x, ./img/person3-2x.png 2x"
              alt="person3"
              width="80"
              height="80"
            />
            <p class="person-full-name">Olena Kampusch</p>
          </div>
          <p class="person-review">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
        <div class="reviews-swiper-slide swiper-slide">
          <div class="person-info">
            <img
              class="person-img"
              src="./img/person4.png"
              srcset="./img/person4.png 1x, ./img/person4-2x.png 2x"
              alt="person4"
              width="80"
              height="80"
            />
            <p class="person-full-name">Natalia Sus</p>
          </div>
          <p class="person-review">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <div class="reviews-swiper-slide swiper-slide">
          <div class="person-info">
            <img
              class="person-img"
              src="./img/person5.png"
              srcset="./img/person5.png 1x, ./img/person5-2x.png 2x"
              alt="person5"
              width="80"
              height="80"
            />
            <p class="person-full-name">Danilo Nottingham</p>
          </div>
          <p class="person-review">
            This is delicious. It so rich and flavorful you don&#39;t need to
            use as many. I love topping an apple with almond butter and these
            chips for a snack.
          </p>
        </div>
        <div class="reviews-swiper-slide swiper-slide">
          <div class="person-info">
            <img
              class="person-img"
              src="./img/person6.png"
              srcset="./img/person6.png 1x, ./img/person6-2x.png 2x"
              alt="person6"
              width="80"
              height="80"
            />
            <p class="person-full-name">Irina Tydnyuk</p>
          </div>
          <p class="person-review">
            This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </div>
      <div class="reviews-swiper-pagination swiper-pagination"></div>
    </div>
  </div>

  <button class="reviews-btn js-open-modal" type="button" data-modal="reviews">
    Leave a review
  </button>
</section>
