    <section class="sellers-section">
      <div class="sellers-container">
        <h2 class="sellers-title"><span>Top</span>Sellers</h2>
        <div class="sellers-img">
          <ul class="sellers-img-list">
            <li class="sellers-img-item">
              <img src="../img/ts-img1-368.png" alt="chocolate" />
            </li>
            <li class="sellers-img-item">
              <img src="../img/ts-img2-368.png" alt="chocolate" />
            </li>
            <li class="sellers-img-item">
              <img src="../img/ts-img3-368.png" alt="chocolate" />
            </li>
          </ul>
        </div>
        <div class="sellers-text-container">
          <p class="sellers-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
        <button class="sellers-button">Buy now</button>
      </div>
    </section>
