    <section class="sellers-section">
      <div class="sellers-container">
        <h2 class="sellers-title"><span>Top</span> Sellers</h2>
        <div class="sellers-img">
          <ul class="sellers-img-list">
            <li class="sellers-img-item">

              <div class="ts-thumb ts-first-thumb">
                <img class="ts-first-img" srcset="./img/ts-img1-368@1x.png 1x, ./img/ts-img1@2x.png 2x, ./img/ts-img1@3x.png 3x" src="../img/ts-img1-368@1x.png" alt="chocolate" />
              </div>
              
               <p class="sellers-img-text">
                 Crazy enough chocolate originates from a bean just like the coffee
                 bean called Cacao. Cacao has been around for thousands of years and
                was first discovered by the Native American tribe called the Mayans.
               </p>
            </li>

            <li class="sellers-img-item">

              <div class="ts-thumb">
                <img srcset="./img/ts-img2-368@1x.png 1x, ./img/ts-img2@2x.png 2x, ./img/ts-img2@3x.png 3x" src="../img/ts-img2-368@1x.png" alt="chocolate" />
              </div>
              
            </li>

            <li class="sellers-img-item">
              <div class="ts-thumb">
                <img srcset="./img/ts-img3-368@1x.png 1x, ./img/ts-img3@2x.png 2x, ./img/ts-img3@3x.png 3x" src="../img/ts-img3-368@1x.png" alt="chocolate" />
              </div>
              
            </li>
          </ul>
        </div>
        <div class="sellers-text-btn-container">
                  <div class="sellers-text-container">
          
          <p class="sellers-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
          <button class="sellers-button">Buy now</button>
        
        </div>

        
      </div>
    </section>
