 <!-- Section Unique Components -->
 <section class="components-section">
  <div class="components-container container">
    <h2 class="components-title title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-taste">TASTE</span> SENSATION
    </h2>
    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional
      chocolate is in the details. From the sourcing of the finest
      ingredients to the careful crafting of each individual piece, every
      step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="components-list list">
      <li class="components-item">
        <a href="" class="components-link">
          <div class="components-card-inner">
            <div class="components-card-front">
              <picture>
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/milk-chocolate-mobile-tablet.webp 1x, ./img/milk-chocolate-mobile-tablet@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/milk-chocolate-mobile-tablet.png 1x, ./img/milk-chocolate-mobile-tablet@2x.png 2x"
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/milk-chocolate-desktop.webp 1x, ./img/milk-chocolate-desktop@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/milk-chocolate-desktop.png 1x, ./img/milk-chocolate-desktop@2x.png 2x"
                  type="image/png"
                />
                <img
                  src="./img/milk-chocolate-mobile-tablet.png"
                  alt="milk chocolate"
                  width="224"
                  class="components-img"
                />
              </picture>
              <p class="components-item-text">MILK CHOCOLATE</p>
            </div>

            <div class="components-card-back">
              <h3 class="card-back-title">Milk chocolate</h3>
              <ul class="card-back-list list">
                <li class="card-back-item">
                  <span class="card-back-block">chocolate</span>
                </li>
                <li class="card-back-item">
                  <span class="card-back-block">the benefits</span>
                </li>
              </ul>
              <p class="card-back-descr">
                Milk chocolate is a solid chocolate confectionery
                containing cocoa, sugar and milk. It is the most consumed
                type of chocolate. Chocolate was originally sold and
                consumed as a beverage in pre-Columbian times. Although
                four-fifths of all milk chocolate is sold in the United
                States and Europe, increasingly large amounts are consumed
                in China and Latin America.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="components-item">
        <a href="" class="components-link">
          <div class="components-card-inner">
            <div class="components-card-front">
              <picture>
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/milk-mobile-tablet.webp 1x, ./img/milk-mobile-tablet@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/milk-mobile-tablet.png 1x, ./img/milk-mobile-tablet@2x.png 2x"
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/milk-desktop.webp 1x, ./img/milk-desktop@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/milk-desktop.png 1x, ./img/milk-desktop@2x.png 2x"
                  type="image/png"
                />
                <img
                  src="./img/milk-mobile-tablet.png"
                  alt="milk"
                  width="224"
                  class="components-img"
                />
              </picture>
              <p class="components-item-text">MILK</p>
            </div>
            <div class="components-card-back">
              <h3 class="card-back-title">Milk</h3>
              <ul class="card-back-list list">
                <li class="card-back-item">
                  <span class="card-back-block">milk</span>
                </li>
                <li class="card-back-item">
                  <span class="card-back-block">the benefits</span>
                </li>
              </ul>
              <p class="card-back-descr">
                Milk is a white liquid food produced by the mammary glands
                of mammals. It is the primary source of nutrition for
                young mammals (including breastfed human infants) before
                they are able to digest solid food.Early-lactation milk,
                which is called colostrum, contains antibodies that
                strengthen the immune system, and thus reduces the risk of
                many diseases. Milk contains many nutrients, including
                protein and lactose.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="components-item">
        <a href="" class="components-link">
          <div class="components-card-inner">
            <div class="components-card-front">
              <picture>
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/nuts-mobile-tablet.webp 1x, ./img/nuts-mobile-tablet@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/nuts-mobile-tablet.png 1x, ./img/nuts-mobile-tablet@2x.png 2x"
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/nuts-desktop.webp 1x, ./img/nuts-desktop@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/nuts-desktop.png 1x, ./img/nuts-desktop@2x.png 2x"
                  type="image/png"
                />
                <img
                  src="./img/nuts-mobile-table.png"
                  alt="nuts"
                  width="224"
                  class="components-img"
                />
              </picture>
              <p class="components-item-text">NUTS</p>
            </div>
            <div class="components-card-back">
              <h3 class="card-back-title">Nuts</h3>
              <ul class="card-back-list list">
                <li class="card-back-item">
                  <span class="card-back-block">nuts</span>
                </li>
                <li class="card-back-item">
                  <span class="card-back-block">the benefits</span>
                </li>
              </ul>
              <p class="card-back-descr">
                Almonds, pistachios, and walnuts are some types of nuts
                that contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such
                as reducing your risk of heart disease. They’re a good
                source of fiber, healthy fats, and plant protein. Plus,
                they’re great on their own, paired with fruit, or added to
                dishes like salads, desserts, and grains.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="components-item">
        <a href="" class="components-link">
          <div class="components-card-inner">
            <div class="components-card-front">
              <picture>
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/sweet-chocolate-mobile-tablet.webp 1x, ./img/sweet-chocolate-mobile-tablet@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(max-width: 1199px)"
                  srcset="./img/sweet-chocolate-mobile-tablet.png 1x, ./img/sweet-chocolate-mobile-tablet@2x.png 2x"
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/sweet-chocolate-desktop.webp 1x, ./img/sweet-chocolate-desktop@2x.webp 2x"
                  type="image/webp"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="./img/sweet-chocolate-desktop.png 1x, ./img/sweet-chocolate-desktop@2x.png 2x"
                  type="image/png"
                />
                <img
                  src="./img/sweet-chocolate-mobile-tablet.png"
                  alt="sweet chocolate"
                  width="224"
                  class="components-img"
                />
              </picture>
              <p class="components-item-text">SEMI-SWEET CHOCOLATE</p>
            </div>
            <div class="components-card-back">
              <h3 class="card-back-title">sweet chocolate</h3>
              <ul class="card-back-list list">
                <li class="card-back-item">
                  <span class="card-back-block">sweet chocolate</span>
                </li>
                <li class="card-back-item">
                  <span class="card-back-block">the benefits</span>
                </li>
              </ul>
              <p class="card-back-descr">
                Semi-sweet chocolate has a cocoa solid content of 35 to
                65%. One of the best ways to gain an understanding of this
                type of chocolate is to compare it to a different type of
                chocolate. Semisweet is darker than milk chocolate. In a
                taste comparison, it has a slightly bitter taste whereas
                milk chocolate is sweeter and more mellow. This delectable
                flavor of chocolate is very versatile.
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
