:root {
    --purple: #1e1823;
    --orange: #FD9222;
    --white: #ffffff;
    --card-set-gap: 50px;
  }
  
  /* body {
    background-color: var(--page-bg-color);
    color: var(--primary-text-color);
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  } */
  
  
  /* PAGE */
  .advantages-title {
    font-size: 32px;
    margin-bottom: 30px;
    display: none;
  }
  
  /* CONTAINER */
  .advantages-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    background-color:var(--purple);
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  
  }
  
  /* CARD SET */
  .advantages-card-set {
    width: 1100px;
    list-style: none;
    display: flex;
  
    /* margin-left: calc(-1 * var(--card-set-gap)); */
    /* margin-top: calc(-1 * var(--card-set-gap));
    margin-right: var(--card-set-gap); */
  }
  /* .advantages-card-set > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  } */
  
  /* CARD */
  .advantages-card {
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* border-right: 1px solid var(--white); */
  }
  
  .advantages-card::after {
    background-image: url("../images/icons.svg#line");
    color: #ffffff;
    border-right: 1px solid var(--white);
   
  }
  
  .advantages-card-content {
    padding: 22px 18px 9px 0px;
    /* margin-bottom: 50px; */
  }
  
  .advantages-card-set:not(:first-child)  {
    margin-right: 70px;
  } 
  
  .advantages-card-text {
    margin-top: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .advantages-card-heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: var(--white);
  }
  
  .advantages-icon {
    display: flex;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 17px;
  }
  
  .advantages-item {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
  }
  
  .advantages-text-title {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 24px;
    color: #111111;
  }
  
  .advantages-img-user {
    margin: auto;
    margin-bottom: 18px;
  }
  
  .advantages-container {
    max-width: 428px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  @media screen and (min-width: 480px) {
    .advantages-container {
      padding-right: 20px;
      padding-left: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .advantages-card-set {
      width: 100%;}
  }
  
  @media screen and (min-width: 768px) {
    .advantages-container {
      max-width: 768px;
      padding-right: 32px;
      padding-left: 32px;
      /* display: flex;
      flex-wrap: wrap; */
    }
    .advantages-card-set {
      width: 100%;
    }
    .advantages-card-set > .advantages-item {
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-left: var(--card-set-gap);
      margin-top: var(--card-set-gap);
    }
  }
  
  
  @media screen and (min-width: 1200px) {
    .advantages-container {
      max-width: 1200px;
    }
  
    .section {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
  