.container-products {
  margin-left: auto;
  margin-right: auto;
}
.section-products {
  padding-top: 72px;
}

.heading-products {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--black-color);
  margin-bottom: 32px;
}
.title-products {
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--orange);
}
.image-slider {
  overflow-x: hidden;
}
.image-slider__image {
  padding: 32px 52px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.img-products {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}
.caption-products {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--black-color);
  margin-bottom: 2px;
}
.subtitle-products {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.button-products {
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black-color);
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.swiper-slide {
  margin-bottom: 32px;
}
.swiper-pagination-products {
  text-align: center;
}

.image-slider__slide {
  width: 335px;
}

@media screen and (min-width: 375px) {
  .swiper-slide {
    width: 335px;
  }
  .image-slider__slide {
    width: 335px;
  }
}
@media screen and (max-width: 767px) {
  .container-products {
    max-width: 375px;
  }
  .image-slider__slide {
    width: 335px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-products {
    max-width: 1136px;
  }
  .section-products {
    padding-top: 100px;
  }
  .heading-products {
    font-size: 24px;
    line-height: 1.1;
    color: var(--black-color);
    margin-bottom: 50px;
  }
  .title-products {
    font-size: 24px;
    line-height: 1.1;
    color: var(--orange);
  }
  .image-slider__image {
    padding: 32px 20px;
  }
  .image-slider__slide {
    margin-right: 18px;
  }
  .swiper-slide {
    max-width: 270px;
  }
}

@media screen and (min-width: 1199px) {
  .section-products {
    padding-top: 128px;
  }

}
