/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./topsellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal.css');


:root {
  --black-color: #111111; 
  --purple: #1E1823;
  --orange: #FD9222;
  --white: #ffffff;
  --body-color:#FAFAFA;
}

body{
  background-color: var(--body-color);
}