.subscribe-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 62px;
    padding-bottom: 63px;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
    background-color: #1E1823;
  
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Subcribe-mob.jpg);
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  .subscribe-section {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Subcribe-mob@2x.jpg);
    }
  }
  
  @media screen and (max-width: 349px) {
  .subscribe-container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  }
  
  @media screen and (min-width: 350px) {
  .subscribe-container {
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
  }
  }
  
  .subscribe-title {
    margin: auto;
    margin-bottom: 24px;
    width: 291px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  .subscribe-text {
    margin-bottom: 24px;
    text-align: center;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
  
    color: #FFFFFF;
  }
  
  .subscribe-button {
  padding: 12px 28px;
  gap: 14px;
  border: none;
  
  background: #FD9222;
  border-radius: 100px;
  
  cursor: pointer;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  
  transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .subscribe-button:hover,
  .subscribe-button:focus {
  color: #FD9222;
  background-color: #FCF1E0;
  }
  
  @media screen and (min-width: 768px) {
  .subscribe-section {
   padding-top: 72px;
   padding-bottom: 72px;
  
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Subcribe-tablet.jpg);
   background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Subcribe-tablet@2x.jpg);
   }
  } 
  
  .subscribe-container {
    max-width: 467px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .subscribe-title {
   width: 378px;
   font-size: 24px;
   line-height: 1.16;
  }
  
  .subscribe-button {
   padding: 14px 40px;
   width: 172px;
   height: 50px;
  
   font-size: 18px;
   line-height: 1.22;
  }
  }
  
  @media screen and (min-width: 1200px) {
  .subscribe-section {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Subcribe-desktop.jpg);
   background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   .subscribe-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/Subcribe-desktop@2x.jpg);
   }
  } 
  
  }