
/* Section Unique Components */
.components-section {
  font-family: 'Montserrat';
  background-color: var(--body-color);
}
.components-container {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 81px;
  overflow: scroll;
}

.components-title {
  width: 283px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color:var(--black-color);
}

.components-title-taste {
  color: var(--orange);
}
.components-text {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.components-list {
  list-style: none;
}

.components-item {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.components-item:not(:last-child) {
  margin-bottom: 20px;
}

.components-item:nth-child(even) .components-card-front {
  background-color: var(--white);
  border: 1px solid var(--orange);
}
.components-item:nth-child(3) .components-card-front {
  background-color: var(--purple);
}
.components-item:nth-child(odd) .components-item-text {
  color: var(--body-color);
}
.components-item:first-child .components-card-front {
  background-color: var(--orange);
}

.components-link {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  background-color: transparent;
}
.components-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.components-item-text {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-color);
}
.components-card-inner {
  position: relative;
  width: 100%;
  height: 270px;
  transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-style: preserve-3d;
}
.components-link:is(:hover, :focus) .components-card-inner {
  transform: rotateY(180deg);
}
.components-card-front,
.components-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 28px;
  backface-visibility: hidden;
}
.components-card-front {
  height: 270px;
  border-radius: 15px;
}
.components-card-back {
  height: 270px;
  background-color: var(--white);
  border-radius: 15px;
  transform: rotateY(180deg);
  /* opacity: 0; */
}
.card-back-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}
.card-back-descr {
  height: 146px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
  overflow: auto;
}
.card-back-list {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 14px;
}
.card-back-item {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  border-radius: 35px;
}
.card-back-item:first-child {
  background-color: var(--orange);
}
.card-back-item:last-child {
  background-color: var(--body-color);
  border: 1px solid var(--orange);
}
.card-back-block {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
.card-back-item:first-child .card-back-block {
  color: var(--white);
}
.card-back-item:last-child .card-back-block {
  color: var(--black-color);
}
@media screen and (min-width: 375px) {
  .components-container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .components-container {
    max-width: 768px;
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .components-title {
    width: 411px;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }
  .components-text {
    width: 486px;
    margin-bottom: 50px;
  }
  .components-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .components-item {
    width: 336px;
  }
  .components-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .components-item:nth-child(2) {
    order: 2;
  }
  .components-item:nth-child(3) {
    order: 3;
  }
  .components-item:last-child {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .components-container {
    max-width: 1200px;
    padding-top: 128px;
}
.components-list {
  flex-wrap: nowrap;
  gap: 19px;
}
.components-item {
  width: 270px;
  
}
.components-item:not(:first-child) {
  order: 0;
}
.components-img {
  width: 206px;
  margin-bottom: 36px;
}
.components-card-front {
  padding: 28px 36px 28px 28px;
}
}
